body{
    font-family: Arial, sans-serif;
    background-color: #dcd8d8;
    color: rgb(5, 4, 4);
    text-align: center;
    justify-content:left;
}

h1 {
    margin-top: 30px;
}
.conten{
    background-color: #ff9900;
    width: 300px;
    height: 300px;
}
.container {
    display: flexbox;
    justify-content:center;
    gap: 40px;
    margin-top:50 px;

}
.targeta {
    background-color: #1f1f1f;
    padding: 40px;
    width: 200px;
    border-radius: 10 px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.targeta:hover{
    background-color: #ff9900;
    transform: scale(1.05);
}